.auth_card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  background-color: white;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  padding: 1rem;
}


.auth-header{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.auth-header svg{
    color: blue;
    font-size: 2rem;
}

.auth-header p{
    font-size: 1.4rem;
    font-weight:700;
}

.auth-header span{
    color: gray;
    
}

.opt_inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem ;
}

.profile_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.full_name{
    text-transform: capitalize;
    font-weight:700 ;

}

.email{
    color: gray;
}